body {
    background-color: papayawhip;
    height: fit-content;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
}


html {
    background-color: cornsilk;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: brown;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex: 200px;
    flex-direction: row;
    justify-content: space-evenly;
}
