body {
    background-color: papayawhip;
    font-family: 'Indie Flower', ;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: papayawhip;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    max-width: 2000px;
    min-width: 100px;
    padding: 5px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
}

.image-item {
    height: 20px;
}