body {
    background-color: papayawhip;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
}

html {
    background-color: cornsilk;
    margin-left: 50px;
    margin-right: 50px;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size-adjust: none;
    font-size: 37pt;
    text-align: center;
    font-style: normal;
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    align-content: center;
}

img {
    width: 100%;
}

#image-item:hover, #image-item2:hover, #image-item3:hover {
    border: tomato 4px solid;
    border-radius: 0.25rem;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
}

figure {
    display: flex;
    flex: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#link-pics, #link-news, #link-types, #link-home {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

#link-pics:hover, #link-news:hover, #link-types:hover, #link-home:hover {
    color: tomato;
    font-weight: bolder;
}

.links {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    flex: 500px;
    padding: 0 auto;
    max-width: 550px;
}

a {
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: brown;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 550px;
    flex: 500px;
    text-decoration: none;
}


article {
    flex: 100px;
    padding: 0 auto;
}

.intro {
    font-size: 12pt;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
    padding: 6px;
    font-weight: normal;
}

#intro {
    margin-top: 20px;
}

em {
    font-weight: bolder;
    font-style: normal;
}

footer {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: cornsilk;
}

#footer {
    font-style: normal;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#choc-lab, #husky-pup, #unicorn, #puppy-bowl {
    max-width: 400px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}


#buy-lab, .husky-para, .unicorn-para, .super-bowl-para {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0%;
    max-width: 400px;
    justify-content: center;
    align-content: center;
}

.purchase-lab, .purchase-husky, .unicorn-pup, .super-bowl {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.purchase-lab-article, .purchase-husky-article, .unicorn-pup-article, .super-bowl-article {
    min-width: 250px;
    max-width: 400px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;     
}

#news-heading {
    padding-top: 5%;
}